.footer{
    width: calc(100% - 2 * 150px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 55px 0 20px;
}

.caption{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.7px;
    margin: 0;
    padding-bottom: 20px;
    color: #656566;
    text-align: left;
}

.captionEnd{
    composes: caption;
    text-align: right;
}

.list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: start;
    align-items: start;
    padding: 0;
    margin: 0;
    cursor: pointer;
    gap: 10px;
}

.text{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: #E4E5EA;
}

.wrapper{
    display: flex;
    justify-content: start;
    gap: 52px;
}


 .nav{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
} 


.contacts{
    padding: 0 0 16px;
    width: 90px;
    margin-right: 0;
}

.container{
    composes: wrapper;
    gap: 100px;
}

.copyright{
    composes: text;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 70px 0 5px;
}

@media screen and (min-width: 799px) {
    .itemMobile {
        visibility: hidden;
        display: none;
    }
}

@media screen and (max-width: 799px) {
    .text {
        font-size: 14px;
    }

    .wrapper {
        gap: 30px;
    }

    .itemDesctop {
        visibility: hidden;
        display: none;
    }

    .container {
        flex-direction: column;
        text-align: left;
        gap: 30px;
        width: 300px;
    }

    .nav {
        align-items: flex-start;
        padding-top: 30px;
    }

    .caption {
        font-size: 12px;
        letter-spacing: 0.6px;
    }

    .footer {
        width: calc(100% - 2 * 14px);
        padding: 45px 0 60px;
        flex-direction: column;
        text-align: left;
    }

    .copyright {
        padding-top: 55px;
        font-size: 12px;
    }
}
.privacy{
    composes: copyright;
    text-decoration: underline;
    padding: 0;
}